.lista-productos {
    max-width: 400px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background: linear-gradient(to right, #3b82f6, #9333ea);

  }
  
  .lista-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 10px;
  }
  
  .lista-items {
    list-style-type: none;
    padding: 0;
  }
  
  .lista-item {
    padding: 10px;
    background-color: #f9fafb;
    border-radius: 5px;
    margin-bottom: 8px;
    transition: background-color 0.3s;
    color: #2563eb;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .lista-item:hover {
    background-color: #e5e7eb;
  }
  
  .producto-nombre {
    color: #10b981;
    font-weight: 600;
  }
  
  .producto-precio {
    color: #ef4444;
    font-weight: 700;
  }
  